<!-- Modal content -->
<div id="modalReport" class="modal-content">
    <div class="modal-header" id="modal-report-header">
        <span class="close">&times;</span>
        <h2>Signaler</h2>
    </div>
    <div class="modal-body" id="modal-report-body">
        
    </div>
    <div class="modal-footer" id="modal-report-footer">
        <h3></h3>
    </div>
</div>


