<div class="panel-group" id="accordion">
  <div class="panel panel-default" id="panel1">
      <div class="panel-heading">
      <h4 class="panel-title">
          <a data-toggle="collapse" data-target="#collapseTwo" 
          href="#collapseTwo">
          Conditions de vente
          </a>
      </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
          <h2>Conditions de mise en vente</h2>
          <p>Lorsque vous mettez en vente un objet, vous acceptez de vous conformer aux règles de mise en vente ainsi qu’au règlement sur les pratiques de vente. Vous acceptez également que :</p>
          <ul style="margin-left:15px; list-style: disc">
              <li>vous êtes responsable de l’exactitude du contenu et de la légalité des objets mis en ventes conformément au règlement sur les objets interdits ou soumis à restrictions</li>
              <li>un contenu qui violerait toute règle du champ à la maison, quelle qu'elle soit, soit supprimé, modifié ou masqué à la seule discrétion du champ à la maison</li>
              <li>il peut arriver que nous révisions des informations produit associées aux annonces en ajoutant, enlevant, ou en corrigeant des informations</li>
              <li>votre annonce apparaitra dans les résultats du moteur de recherche en fonction de plusieurs critères tels que le format, le titre, le nombre des enchères, la date de fin, le prix, les frais de livraison et les évaluations détaillées du vendeur. Comment trouver un objet que vous avez mis en vente</li>
              <li>le règlement sur les annonces identiques puisse affecter la visibilité de votre annonce dans les résultats de recherche</li>
              <li>les méta tags et les liens URL qui se trouvent dans une annonce soient supprimés ou modifiés de sorte qu'ils n'affectent pas les résultats de moteurs de recherche tiers</li>
              <li>nous puissions vous fournir des recommandations facultatives à considérer lors de la création de vos annonces. De telles recommandations pourront être basées sur l'historique des ventes globales et de performance de ventes similaires réussies et en cours ; les résultats varieront pour les annonces individuelles. Pour mener à bien ces recommandations, vous acceptez que nous puissions communiquer l'historique des ventes et de performance de vos annonces à d'autres vendeurs</li>
              <li>certaines options de mise en vente ne seront visibles que sur certains services du champ à la maison.</li>
          </ul>
          <p>En conséquence, pour permettre une expérience utilisateur positive, une annonce peut ne pas apparaître dans certains résultats de recherche, ce quel que soit l'ordre de tri choisi par l'acheteur.</p>
          <h2>Frais</h2>
          <p>L'inscription et l'action d'enchérir sur des objets proposés sur nos Services sont gratuites. L'utilisation d'autres services tels que la mise en vent d'objets est payante. Les frais facturés pour l’utilisation de nos Services sont détaillés dans notre règlement sur les frais de vente.</p>
          <p>Sauf mention contraire, tous les tarifs sont indiqués en euros (EUR). Il est de votre responsabilité de payer tous les frais et taxes applicables résultant de l'utilisation de nos Services dans les délais et par l'intermédiaire d'un mode de paiement valable. En cas de problème lié à votre mode de paiement ou si votre compte présente un arriéré, nous tenterons de percevoir les montants dus par d'autres moyens de recouvrement, nous débiterons les autres modes de paiement figurant dans votre compte, nous pourrons faire appel à une agence de recouvrement ou à un conseil juridique habilité à cette fin. Des intérêts de retard au taux légal s'appliqueront le cas échéant. Vous acceptez que nous vous envoyions des factures au format électronique par e-mail. Enfin, nous pouvons aussi suspendre ou limiter votre capacité à utiliser nos Services jusqu'à ce que le paiement ait été intégralement reçu.</p>
          <p>Si des sommes sont disponibles sur votre compte Le champ à la maison depuis plus de 5 ans, vous acceptez que le champ à la maison puisse conserver ces sommes après vous en avoir informé et laisser la possibilité de vous y opposer.</p>
      </div>
  </div>
  </div></div>