<script type="text/javascript" src="/js/updateNotification.js"></script>
<script type="text/javascript">
  $("document").ready(function(){
    var userLogin = '<%- session.login %>';
    updateNotif(userLogin);
    setInterval(function(){updateNotif(userLogin)}, 30000);
  });
</script>
<div class="header-container">
    <div class="header-top">
      <div class="container">
        <div class="row"> 
            <!-- Header Language -->
            <div class="col-xs-12 col-sm-4" style="float:left">
                <%if (session.type) {%>
                <div class="welcome-msg"> Bienvenue <%=session.login%> ! </div>   
                <% } %>             
            </div>
            <div class="col-xs-8 hidden-xs" style="float:right"> 
            <!-- Header Top Links -->
            <div class="toplinks">
              <div class="links">
                <%if (session.type) { %>
                <div class="myaccount"><a title="Mon compte" href="/userDashboard/profil"><span class="hidden-xs">Mon compte</span></a> </div>
                <div class="group"><a title="Coopératives" href="/producersGroup/search" ><span class="hidden-xs">Coopératives</span></a> </div>

                <%if (session.type == 1) {%>
                <!-- Header Company -->
                <div class="dropdown block-company-wrapper hidden-xs"> <a role="button" data-toggle="dropdown" data-target="#" class="block-company dropdown-toggle" href="#"> Annonces <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li role="item"><a title="Déposer une annonce" href="/producerDashboard/item/new"> Déposer une annonce </a> </li>
                    <li role="item"><a title="Gérer mes annonces" href="/producerDashboard/items"> Consulter mes annonces </a> </li>
                    <li role="item"><a title="Gérer mes ventes" href="/producerDashboard/orders"> Gerer mes ventes </a> </li>
                  </ul>
                </div>
                <div class="dropdown block-company-wrapper hidden-xs"> <a role="button" data-toggle="dropdown" data-target="#" class="block-company dropdown-toggle" href="#"> Mes coopératives <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li role="item"><a title="Créer une coopérative" href="/producersGroup/new">Créer une coopérative</a> </li>
                    <li role="item"><a title="Consulter mes coopératives" href="/producersGroup/list">Consulter mes coopératives</a> </li>
                  </ul>
                </div>
                <% } %>
                <%if (session.type == 3) {%>
                  <div class="myaccount"><a title="Devenir producteur" href="/becomeProducer"><span class="hidden-xs">Devenir producteur</span></a> </div>
                
                <% } %>
                <div class="dropdown block-company-wrapper hidden-xs"> <a role="button" data-toggle="dropdown" data-target="#" class="block-company dropdown-toggle" href="#"> Mon Compte <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li role="item"><a title="Créer une coopérative" href="/userDashboard/profil">Paramètres</a> </li>
                    <li role="item"><a title="Consulter mes coopératives" href="/userDashboard/orders">Consulter mes commandes</a> </li>
                    <li role="item"><a title="Consulter mes coopératives" href="/logout">Déconnexion</a> </li>
                  </ul>
                </div>
                <div class="top-cart-contain pull-right" style="margin-top:0px;"> 
                  <!-- Top Cart -->
                  <div class="mini-cart">
                    <div class="dropdown block-company-wrapper hidden-xs" data-toggle="dropdown" data-hover="dropdown"> <a href="" style="height:30px;"><i class="fa fa-exclamation-circle" id="imageNotif" style="font-size:15px;color:red; display:none"></i> <span class="hidden-xs" id="notifLabel">Notifications (0)</span> </a> </div>
                    <div>
                      <div class="top-cart-content" style="display: none; top:28px;"> 
                        
                        <!--block-subtitle-->
                        <ul class="mini-products-list" id="notif-sidebar">
                          
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- Top Cart -->
                  <div id="ajaxconfig_info" style="display:none"> <a href="#/"></a>
                    <input value="" type="hidden">
                    <input id="enable_module" value="1" type="hidden">
                    <input class="effect_to_cart" value="1" type="hidden">
                    <input class="title_shopping_cart" value="Go to shopping cart" type="hidden">
                  </div>
                </div>
               
                <% } %>
                <!-- End Header Company -->
                <% if(!session.type) { %>
                    <div class="login"><a title="Connexion" href="/login"><span class="hidden-xs">Connexion</span></a> </div>
                <% } %>
              </div>
            </div>
            <!-- End Header Top Links --> 
          </div>
        </div>
      </div>
    </div>
    <div class="container" >
      <div class="row" align="center" >
        <div> 
          <!-- Header Logo -->
          <div class="logo" sytle=" display: inline;">
            <img alt="Le champ a la maison" src="/img/image_big.png" style="width:7%">&nbsp;
            <div style="color: #FCA205; font-family: 'Raleway', sans-serif;; display: inline; font-size: 40px;">Le champ a la Maison</div>
          </div>
          <!-- End Header Logo --> 
        </div>
        
        <!--<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 hidden-xs">
          <div class="search-box">
            <form action="cat" method="POST" id="search_mini_form" name="Categories">
              <input type="text" placeholder="Search entire store here..." value="Search" maxlength="70" name="search" id="search">
              <button type="button" class="search-btn-bg"><span class="glyphicon glyphicon-search"></span>&nbsp;</button>
            </form>
          </div>
        </div>-->
      </div>
    </div>
  </div>

<!-- end header --> 
