<div class="panel-group" id="accordion">
  <div class="panel panel-default" id="panel1">
      <div class="panel-heading">
      <h4 class="panel-title">
          <a data-toggle="collapse" data-target="#collapseOne" 
          href="#collapseOne">
          Conditions d'utilisation
          </a>
      </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
          <h2>Objet</h2>
          <p>Le champ à la maison est une place de marché qui permet à ses utilisateurs d'offrir, de vendre ou d'acheter des produits agro-alimentaires, dans une diversité de formats tarifaires et de lieux d'échange, tels que, entre autres, les coopératives, provenant de lieux différents.</p>
          <p>Le champ à la maison ne détient aucun objet mis en vente  ou vendu sur son site, et n’intervient en aucune façon dans la transaction entre les vendeurs et les acheteurs. Le contrat de vente est conclu exclusivement et directement entre le vendeur et l’acheteur. Le champ à la maison n’est pas une société de vente publiques.</p>
          <p>Nous n'intervenons pas dans les transactions entre acheteurs et vendeurs. A ce titre, nous ne transférons pas la propriété des objets du vendeur à l'acheteur. Les accords de vente/achat sont conclus directement entre l'acheteur et le vendeur. En conséquence, nous n'exerçons aucun contrôle sur la qualité, la sûreté ou la légalité des objets mis en vente, la véracité ou l'exactitude du contenu ou des annonces des utilisateurs, la capacité des vendeurs à vendre lesdits objets ni la capacité des acheteurs à payer lesdits objets. Toute indication sur les tarifs et la livraison, ou tout autre conseil proposés par Le champ à la maison sur ses sites, services, applications ou outils, sont fournis uniquement à titre informatif. Par ailleurs, nous ne pouvons pas assurer que le vendeur ou l'acheteur concluront ou exécuteront la transaction, ou qu’un acheteur retournera correctement un objet. Les dispositions de la loi française s'appliquent à la vente.</p>
          <p>Les vendeurs doivent disposer d'un moyen de paiement valide enregistré auprès du champ à la maison, et ce de manière permanente. Lors de la configuration ou modification de votre méthode de paiement pour le règlement des frais de Services Le champ à la maison, vous avez accepté en exécution du contrat de facturation d’être prélevé automatiquement de tout frais ici dû par Le champ à la maison en application des présentes Conditions. Cela comprend notamment les montants dus pour les frais Le champ à la maison et les bordereaux d'affranchissement. Le champ à la maison vous informera de ces frais sur vos factures, le cas échéant. Si les sommes dont vous êtes redevable à Le champ à la maison ne peuvent recouvrées par la méthode de paiement renseignée pour quelque raison que ce soit, vous restez tenu de régler à Le champ à la maison tous les montants impayés. Le champ à la maison se réserve le droit de demander tant le remboursement de ces sommes par tout autre moyen que ceux de tous frais supplémentaires engagés par Le champ à la maison pour obtenir ce remboursement, si la loi l’autorise. Vous pouvez modifier votre méthode de paiement dans Le champ à la maison à tout moment.</p>
          <h2>Utilisation du champ à la maison</h2>
          <p>Vous vous engagez à utiliser nos Services conformément aux présentes Conditions d'utilisation. Lorsque vous utilisez ces Services, vous vous engagez à ne pas :</p>
          <ul style="margin-left:15px; list-style: disc" >
          <li>télécharger vers le serveur ("upload"), publier du contenu ou mettre en vente des objets dans des catégories ou domaines inappropriés sur nos sites </li>
          <li>enfreindre des lois, tout droit de tiers ou nos règlements </li>
          <li>utiliser nos Services si vous n'êtes pas juridiquement capable de souscrire des contrats, (par exemple si vous êtes âgé de moins de 18 ans) ou si vous avez été suspendu de façon temporaire ou pour une durée indéterminée d'utiliser nos Services </li>
          <li>omettre de payer les objets que vous avez achetés, sauf dans les cas autorisés par la loi ou encore si le vendeur a matériellement changé la description de l'objet après votre enchère, si une erreur typographique évidente a été commise ou enfin si vous ne pouvez pas contacter le vendeur (voir notre règlement sur les objets non payés) </li>
          <li>omettre de livrer les objets qui vous ont été achetés, sauf si les conditions matérielles de livraison ne sont pas remplies </li>
          <li>manipuler le prix d'un objet ou vous immiscer dans les annonces d'autres utilisateurs </li>
          <li>publier du contenu faux, erroné, trompeur ou diffamatoire (y compris des informations personnelles) </li>
          <li>effectuer toute action susceptible de nuire aux systèmes d'évaluation (voir notre règlement sur les évaluations) </li>
          <li>transférer votre compte Le champ à la maison (y compris les évaluations) et votre pseudo à un tiers sans notre consentement </li>
          <li>distribuer ou publier des publicités non sollicitées (spam), des communications électroniques de masse, des chaînes d'e-mails ou des systèmes en pyramide </li>
          <li>utiliser les coordonnées des autres utilisateurs pour toute utilisation autre qu'en lien avec une transaction spécifique sur Le champ à la maison (ce qui inclut l'utilisation de ces coordonnées pour envoyer des documents promotionnels directement aux utilisateurs du champ à la maison, à moins que l'utilisateur ait donné son consentement exprès pour recevoir ces documents)</li>
          <li>mettre à disposition des virus ou d'autres technologies susceptibles de nuire à Le champ à la maison ou aux intérêts ou à la propriété des utilisateurs du champ à la maison </li>
          <li>utiliser des robots, des araignées (spiders), scraper ou encore utiliser tout autre procédé automatique pour accéder à nos Services pour quelque raison que ce soit </li>
          <li>contourner nos protocoles d'exclusion de robots, perturber ou tenter de perturber le fonctionnement de nos Services, ou enfin imposer une charge déraisonnable ou disproportionnée sur nos infrastructures </li>
          <li>exporter ou réexporter une application ou un outil Le champ à la maison, sauf dans le cas où cela est conforme aux lois applicables sur le contrôle des exportations, ainsi qu'aux règlements et restrictions en vigueur sur Le champ à la maison </li>
          <li>copier, modifier ou distribuer du contenu ou des droits à partir de nos Services ou les droits d'auteur et marques commerciales du champ à la maison </li>
          <li>copier, reproduire, effectuer de l'ingénierie inverse, modifier, créer des œuvres dérivées, distribuer ou divulguer au public tout contenu (excepté pour votre propre information) provenant de nos Services sans le consentement exprès préalable et écrit du champ à la maison ou, le cas échéant, de celui des tiers concernés </li>
          <li>commercialiser une application Le champ à la maison, un logiciel ou des informations associées à cette application </li>
          <li>collecter de quelque façon que ce soit des informations sur les utilisateurs, y compris les adresses e-mail, sans leur consentement.</li>
          </ul>
          <p>Si vous êtes inscrit sur Le champ à la maison en tant qu’entité professionnelle, vous reconnaissez avoir l’autorité et le pouvoir juridique d’engager cette entité. Si vous exercez votre activité en tant que professionnel sur Le champ à la maison, vous devez vous conformer aux lois applicables en matière de commerce électronique sur le site sur lequel vous vendez des objets (consultez notre Espace vendeurs pour en savoir plus).</p>
          <p>Pour des raisons de sécurité, Le champ à la maison pourra annuler les comptes non confirmés ou inactifs depuis plus de 6 mois ou bien modifier ou cesser les Services Le champ à la maison.</p>
          <h2>Droit de rétractation</h2>
          <p>Si vous utilisez nos Services en tant que consommateur, vous pouvez exercer votre droit de rétractation dans les 14 jours suivant l'acceptation de ces Conditions d'utilisation. Toutefois, vous reconnaissez que la fourniture de nos Services commencera dès votre acceptation des Conditions d'utilisation. Si vous exercez votre droit de rétractation, vous reconnaissez et acceptez que Le champ à la maison conserve les frais facturés ou reçoive les frais courus à la suite de votre utilisation des Services. Vous pouvez nous informer de votre intention d'exercer votre droit de rétractation par courrier à l’adresse suivante: lechampalamaison@gmail.com</p>
          <p>Vous pouvez à tout moment faire supprimer votre compte en nous adressant un email à lechampalamaison@gmail.com. Nous nous engageons à supprimer vos données personnelles de façon irréversible sous 48 heures. Un email de réponse vous confirmera la suppression.</p>
          <h2>Stockage des données:</h2>
          <p>Le champ à la maison stocke les données personnelles liées à votre compte durant toute la durée de validité de ce dernier, ces données incluent; Nom, prénom, adresse, ville, pays, sexe, date de naissance.
          Chaque donnée est stockée en pertinence avec les traitements et les pré-requis contractuels liés à nos services. Vous pouvez découvrir les conditions de stockage de vos données, leur durée de conservation et les traitements auxquels nous les soumettons dans notre <a href="/pdf/Documentation_mise_conformite_CNIL_RGPD_CALM.pdf">Documentation de conformité à la RGPD</a></p>
          </div>
      </div>
  </div></div>