<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Commande effectuée.</title>
    <% include ./partials/header %>
</head>
<body class="cms-index-index cms-home-page">
    <div id="page"> 
        <!-- Header -->
        <header>
            <% include ./partials/topBar %>
            <% include ./partials/navbar %>
        </header>
        <section class="main-container col1-layout">
            <div class="main container">
                <div class="col-main">
                <div class="cart wow bounceInUp animated">
                    <div class="page-title">
                    <h2>Commande effectuée.</h2>
                    </div>
                    <fieldset class="col2-set">
                        <div><strong>Votre commande a été effectué avec succès. Vous pouvez retrouver tous les détails de votre commande dans l'espace "Mon Compte".<br><h3>Pensez à valider la reception de votre commande sur cet espace (Validation automatique apres 15jours).</h3></strong></div><br /><br />
                    </fieldset>
                </div>
                </div>
            </div>
        </section>

    </div>
</body>