<!doctype html>
<html>
<head>
    <title>Mot de passe oublié</title>
    <% include ./partials/header %>
</head>
<body class="cms-index-index cms-home-page">
        <div id="page"> 
            <!-- Header -->
            <header>
                <% include ./partials/topBar %>
            </header>

            
            <section class="main-container top-space col1-layout">
                <div class="main container">
                    <div class="account-login">
                    <div class="page-title">
                        <h2>Réinitialiser mon mot de passe : </h2>
                    </div>
                    <% if (msgError.length > 0) { %>
                        <div class="alert alert-danger"><%- msgError %></div>
                    <% } %>
                    <% if (msgSuccess.length > 0) { %>
                        <div class="alert alert-success"> <%= msgSuccess %> </div>
                    <% } %>
                    <fieldset class="col2-set">
                        <div class="col-1 update-users">
                        <div class="content">
                            <form action="/login/resetPassword/<%=code%>" method="post">
                                <ul class="form-list">
                                    <li>
                                        <label for="password">Nouveau mot de passe</label>
                                        <br>
                                        <input type="password" title="password" id="password" class="input-text required-entry" name="password" required>
                                    </li>
                                    <li>
                                        <label for="passwordConfirm">Confirmer le mot de passe</label>
                                        <br>
                                        <input type="password" title="passwordConfirm" id="passwordConfirm" class="input-text required-entry" name="passwordConfirm" required>
                                    </li>
                                  
                                </ul>
                                <button name="send" type="submit" class="button"><span>Modifier mon mot de passe</span></button>
                            </form>
                        
                        </div>
                        </div>
                    </fieldset>
                    </div>
                </div>
            </section>
        <% include ./partials/footer %>
    </div>

</body>
</html>