<!DOCTYPE html>
<html lang="fr">
<head>
    <title>INFORMATIONS GÉNÉRALES</title>
    <% include ../partials/header %>
</head>
<body class="cms-index-index cms-home-page">
    <div id="page"> 
        <!-- Header -->
        <header>
            <% include ../partials/topBar %>
            <% include ../partials/navbar %>
        </header>
        <br /> <br /> 
        <section class="main-container col2-left-layout bounceInUp animated">
            <div class="container">
                <div class="row">
                        
                <div class="col-sm-9 col-sm-push-3">
                    <article class="col-main">
                        <h2 class="page-heading"> <span class="page-heading-title">Informations générales</span> </h2>
                   
                    <fieldset class="col2-set">
                            <% if (msgError.length > 0) { %>
                                <div class="alert alert-danger"><%= msgError %></div>
                            <% } %>
                            <% if (msgSuccess.length > 0) { %>
                                <div class="alert alert-success"> <%= msgSuccess %> </div>
                            <% } %>
                        <form action="/userDashboard/profil" method="post">
                            <ul class="form-list">
                                
                                <li>
                                    <label for="login">Identifiant</label>
                                    <br>
                                    <input type="text" title="login" class="input-text required-entry" id="login" value="<%= session.login%>" name="username"  disabled="disabled" style="color:black">
                                </li>
                                <li>
                                    <label for="mail">Mail</label>
                                    <br>
                                    <input type="email" title="mail" id="mail" class="input-text required-entry" name="mail" value="<%= emailUser %>" disabled="disabled" style="color:black">
                                </li>
                                <hr>
                                <li>
                                    <label for="login"><h3><b>Changer d'adresse mail</b</h3></label>
                                </li>
                                <li>
                                    <label for="mailNew">Nouvelle adresse mail</label>
                                    <br>
                                    <input type="email" title="mailNew" id="mailNew" class="input-text required-entry" name="mailNew" required>
                                </li>
                                <li>
                                    <label for="mailNewConfirm">Valider l'adresse mail</label>
                                    <br>
                                    <input type="email" title="mailNewConfirm" id="mailNewConfirm" class="input-text required-entry" name="mailNewConfirm" required>
                                </li>
                                <button name="send" type="submit" class="button"><span>Modifier mon adresse mail</span></button>
                            </ul>
                        </form>
                    </fieldset>
                    </article>
                </div>
                <% include ../partials/dashboard %>
                </div>
            </div>
        </section>
        <% include ../partials/footer %>
    </div>
</body>